<ion-content color="gray" fullscreen="true">

	<ion-progress-bar *ngIf="searching" type="indeterminate"></ion-progress-bar>

	<ion-refresher slot="fixed" (ionRefresh)="obtenerCentroProd($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-card>
		<ion-card-content class="ion-no-padding">
			<ion-grid class="ion-no-padding">
				<ion-row>
					<ion-col class="columna-eficiencia" size="8">
						<ion-grid class="ion-no-padding">
							<ion-row>
								<ion-col class="ion-margin-start" size="12">
									<strong>Eficiencia</strong>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col *ngFor="let op of valoresEficiencia" class="ion-text-center indicador">
									{{ op }}
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col *ngFor="let op of tituloEficiencia" class="ion-text-center tiempo">
									{{ op }}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-col>
					<ion-col class="ion-padding" size="4">
						<ion-img *ngIf="!usuarioActual['foto']" src="assets/images/nofoto.png"></ion-img>
						<ion-img *ngIf="usuarioActual['foto']" [src]="codeBase64 + usuarioActual['foto']"></ion-img>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

	<ion-buttons class="ion-justify-content-around data-buttons ion-margin-vertical collapse" id="collapseEliminar">
		<ion-button size="large" (click)="accionEliminarMultiple(true)" color="danger" fill="solid">
			<ion-icon slot="start" name="close"></ion-icon>
			Cancelar
		</ion-button>
		<ion-button [disabled]="!actividadesEliminar.length" color="success" fill="solid"
			(click)="eliminarActividadesMultiples()">
			<ion-icon slot="start" name="checkmark"></ion-icon>
			Aceptar
		</ion-button>
	</ion-buttons>

	<ion-grid class="ion-no-padding">
		<ion-row *ngIf="actividades.length">
			<ion-col size="6" sizeMd="4" sizeLg="3" *ngFor="let op of actividades; let posi = index;"
				(click)="agregarEliminarActividad(op, posi)">
				<ion-card class="content-cargador"
					[disabled]="searching && (idLogActividadUltimo == op['ActividadOperarioId'] && op['ActividadOperarioId'] != '0') || (idLogActividadUltimo == op['GrupoId'] && op['GrupoId'] != null) || eliminarMultiple"
					[ngClass]="{
						'cargador': (idLogActividadSearch == op['ActividadOperarioId'] && op['ActividadOperarioId'] != '0') || (idLogActividadSearch == op['GrupoId'] && op['GrupoId'] != null), 
						'content-activo' : (idLogActividadUltimo == op['ActividadOperarioId'] && op['ActividadOperarioId'] != '0') || (idLogActividadUltimo == op['GrupoId'] && op['GrupoId'] != null),
						'content-eliminar' : op['eliminarMultiple']
					}">
					<div class="contenedor">
						<ion-card-header class="ion-no-padding"
							[ngClass]="{'opacity3' : searching && (idLogActividadUltimo == op['ActividadOperarioId'] && op['ActividadOperarioId'] != '0') || (idLogActividadUltimo == op['GrupoId'] && op['GrupoId'] != null)}">
							<ion-item lines="none">
								<ion-label class="ion-no-margin"
									(click)="op['GrupoId'] ? accionBoton({accion: 'detalle', component: compoDetalle}, op) : null">
									<h6>{{ op['Nombre'] }}</h6>
									<p *ngIf="!op['GrupoId']">{{ (!op['Referencia'] || op['Referencia'] == '' ? '' :
										op['Referencia'] + ' - ') }} {{ op['NumerOrden'] }}</p>
								</ion-label>
								<ion-icon color="dark" (click)="presentActionSheet(op)" name="ellipsis-vertical"
									slot="end">
								</ion-icon>
							</ion-item>
						</ion-card-header>
						<ion-card-content class="ion-no-padding"
							[ngClass]="{'opacity3' : searching && (idLogActividadUltimo == op['ActividadOperarioId'] && op['ActividadOperarioId'] != '0') || (idLogActividadUltimo == op['GrupoId'] && op['GrupoId'] != null)}">
							<ion-grid>
								<ion-row class="ion-justify-content-evenly">
									<ion-col size="5"
										(touchend)="!op['GrupoId'] && +op['CantiRecib'] < +op['CantidadTotal'] ? endCount() : null"
										(touchstart)="!op['GrupoId'] && +op['CantiRecib'] < +op['CantidadTotal'] ? startCount(op) : null"
										(click)="+op['CantiRecib'] < +op['CantidadTotal'] ? agregarTiempoActividad(op) : accionBoton({accion: 'terminado', component: compoTerminado}, op)">
										<div class="cantidad-proceso">
											<p class="conteo-accion">{{ +op['CantiRecib'] }}</p>
											<ion-progress-bar color="secondary"
												[color]="+op['valProgress'] < 0.40 ? 'danger' : (+op['valProgress'] > 0.84 ? 'success' : 'warning')"
												[value]="+op['valProgress']">
											</ion-progress-bar>
											<p>{{ +op['CantidadTotal'] }}</p>
										</div>
									</ion-col>
									<ion-col size="5">
										<div class="ion-text-center">
											<div class="cantidad-proceso letra-reproceso">
												<strong>0</strong> Reprocesos
											</div>
											<div class="tiempo">
												<strong>{{ (op['Tiempo'] ? +op['Tiempo'] : 0) + ' '
													}}</strong>&nbsp;Minutos
											</div>
										</div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-card-content>
					</div>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row *ngIf="!searching && !actividades.length">
			<ion-col size="12" class="ion-text-center">
				<ion-label color="dark">No hay actividades agregadas</ion-label>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
	<ion-toolbar>
		<ion-fab vertical="center" horizontal="start">
			<ion-grid class="ion-no-padding">
				<ion-row>
					<ion-col class="ion-no-padding"
						[ngClass]="it['accion'] == 'cambiar-centro' ? (dataCentroProduccion['cantidad'] > 1 ? '' : 'd-none') : ''"
						*ngFor="let it of botones">
						<ion-fab-button [disabled]="eliminarMultiple" *ngIf="it['accion'] != 'eliminar-multiple'"
							(click)="accionBoton(it)" class="ion-no-margin" mode="ios" size="small"
							[color]="it['color']">
							<ion-icon [name]="it['icono']"></ion-icon>
						</ion-fab-button>
						<ion-fab-button [disabled]="!actividades.length" *ngIf="it['accion'] == 'eliminar-multiple'" data-bs-toggle="collapse"
							aria-expanded="false" [attr.aria-controls]="'collapseEliminar'"
							[attr.data-bs-target]="'collapseEliminar'" [attr.data-bs-target]="'#collapseEliminar'"
							(click)="accionEliminarMultiple()" class="ion-no-margin" mode="ios" size="small"
							[color]="it['color']">
							<ion-icon [name]="it['icono']"></ion-icon>
						</ion-fab-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-fab>
	</ion-toolbar>
</ion-footer>