<ion-content color="gray" fullscreen="true">

	<ion-progress-bar *ngIf="searching" type="indeterminate"></ion-progress-bar>

	<ion-refresher slot="fixed" (ionRefresh)="obtenerCentroProd($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-card class="ion-text-center" style="padding: 4px;">
		<ion-card-title style="font-size: 13px;">
			{{ dataCentroProduccion['nombre'] }}
		</ion-card-title>
	</ion-card>

	<ion-card  (click)="verEficiencia()">
		<ion-card-content class="ion-no-padding">
			<ion-grid class="ion-no-padding">
				<ion-row>
					<ion-col class="mt-1 ml-3" size="12">
						<div class="nombreusuario mx-3 text-truncate">{{ usuarioActual['OperarioId'] }} - {{ usuarioActual['nombre'] }}</div>
						<div class="nombreusuario mx-3 text-truncate">
							<strong *ngIf="turno['Nombre'] != null">Turno: </strong>{{ turno['Nombre'] == null ? 'No tiene turno asignado' : turno['Nombre']}}
						</div>
					</ion-col>
					<ion-col class="columna-eficiencia" size="8">
						<ion-grid class="ion-no-padding">
							<ion-row>
								<ion-col class="ion-margin-start" size="12">
									<strong>Eficiencia</strong>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col *ngFor="let op of valoresEficiencia" class="ion-text-center indicador" [ngStyle]="{'color': op.color}" style="font-size: 18px;">
									{{ op.valor }} %
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col *ngFor="let op of tituloEficiencia" class="ion-text-center tiempo">
									{{ op }}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-col>
					<ion-col class="ion-padding" size="4">
						<ion-img *ngIf="!usuarioActual['foto']" src="assets/images/nofoto.png"></ion-img>
						<ion-img *ngIf="usuarioActual['foto']" [src]="codeBase64 + usuarioActual['foto']"></ion-img>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

	<ion-buttons class="ion-justify-content-around data-buttons ion-margin-vertical collapse" id="collapseEliminar">
		<ion-button size="large" (click)="accionEliminarMultiple(true)" color="danger" fill="solid">
			<ion-icon slot="start" name="close"></ion-icon>
			Cancelar
		</ion-button>
		<ion-button [disabled]="!actividadesEliminar.length" color="success" fill="solid"
			(click)="eliminarActividadesMultiples()">
			<ion-icon slot="start" name="checkmark"></ion-icon>
			Aceptar
		</ion-button>
	</ion-buttons>

	<ion-grid class="ion-no-padding">
		<ion-row *ngIf="actividadesLista.length">
			<ion-col size="6" sizeMd="4" sizeLg="3" *ngFor="let op of actividadesLista; let posi = index;"
				(click)="agregarEliminarActividad(op, posi)">
				<ion-card class="content-cargador"
					[disabled]="(searching && ((idLogActividadUltimo == op['ActividadOperarioId'] && op['ActividadOperarioId'] != '0') || (idLogActividadUltimo == op['GrupoId'] && op['GrupoId'] != null))) || eliminarMultiple"
					[ngClass]="{
						'cargador': (idLogActividadSearch == op['ActividadOperarioId'] && op['ActividadOperarioId'] != '0') || (idLogActividadSearch == op['GrupoId'] && op['GrupoId'] != null), 
						'content-activo' : (idLogActividadUltimo == op['ActividadOperarioId'] && op['ActividadOperarioId'] != '0') || (idLogActividadUltimo == op['GrupoId'] && op['GrupoId'] != null),
						'content-pausa' : op['GrupoId'] != null && op['Pausa'],
						'content-eliminar' : op['eliminarMultiple']
					}">
					<div class="contenedor">
						<ion-card-header class="ion-no-padding" [ngClass]="{
							'opacity3' : searching && (idLogActividadUltimo == op['ActividadOperarioId'] && op['ActividadOperarioId'] != '0') || (idLogActividadUltimo == op['GrupoId'] && op['GrupoId'] != null) && op['ContadorGrupo'] != 0
							, 'content-reproceso': (!op['GrupoId'] && (op['Detalle'] && op['EjecucionListaId'])) || (op['GrupoId'] && op['EjecucionListaId'] > 0)
							, 'fondo-grupo-contador' : op['ContadorGrupo'] == 1
						}">
							<ion-item lines="none" [ngClass]="{'content-reproceso': op['AplicoListaChequeo'] > 0}">
								<ion-label class="ion-no-margin"
									(click)="op['GrupoId'] ? accionBoton({accion: 'detalle', component: compoDetalle}, op) : null">
									<h6>{{ op['Nombre'] }} {{ op['Detalle'] && op['EjecucionListaId'] ? ' - Reproceso' : '' }}</h6>
									<p *ngIf="!op['GrupoId']">{{ (!op['Referencia'] || op['Referencia'] == '' ? '' :
										op['Referencia'] + ' - ') }} {{ op['NumerOrden'] }}</p>
								</ion-label>
								<ion-icon color="dark" (click)="presentActionSheet(op, posi)" name="ellipsis-vertical"
									slot="end">
								</ion-icon>
							</ion-item>
						</ion-card-header>
						<ion-card-content class="ion-no-padding"
							[ngClass]="{
								'opacity3' : searching && (idLogActividadUltimo == op['ActividadOperarioId'] && op['ActividadOperarioId'] != '0') || (idLogActividadUltimo == op['GrupoId'] && op['GrupoId'] != null) && op['ContadorGrupo'] != 0}">
							<ion-grid>
								<ion-row class="ion-justify-content-evenly">
									<ion-col size="5"
										(touchend)="!op['GrupoId'] && op['ContadorGrupo'] != 0 && +op['CantiRecib'] < +op['CantidadTotal'] ? endCount() : null"
										(touchstart)="!op['GrupoId'] && op['ContadorGrupo'] != 0 && +op['CantiRecib'] < +op['CantidadTotal'] ? startCount(op, posi) : null">
										<div class="cantidad-proceso h-100 contador-progress"
											*ngIf="op['ContadorGrupo'] == null || op['ContadorGrupo'] == 1"
											(click)="op['ContadorGrupo'] == 1 && (+op['CantiRecib'] < +op['CantidadTotal']) && ((op['GrupoERP'] == 0 && op['GrupoId']) || (op['GrupoERP'] > 0 && op['GrupoId'])) ? accionBoton({accion: 'detalle', component: compoDetalle}, op) : ordenOperacionClick(op, posi)">
											<p class="conteo-accion">{{ +op['CantiRecib'] }}</p>
											<ion-progress-bar color="secondary"
												[color]="+op['valProgress'] < 0.40 ? 'danger' : (+op['valProgress'] > 0.84 ? 'success' : 'warning')"
												[value]="+op['valProgress']">
											</ion-progress-bar>
											<p>{{ +op['CantidadTotal'] }}</p>
										</div>
										<div *ngIf="op['ContadorGrupo'] == 0" class="cantidad-proceso h-100"
											(click)="ordenOperacionClick(op, posi)">
											<ion-icon class="h-100 w-100" name="time-outline"></ion-icon>
										</div>
									</ion-col>
									<ion-col size="5" [ngClass]="{
										'solo-tiempo' : op['ContadorGrupo'] == 0
									}">
										<div class="ion-text-center h-100 reproceso-contenedor"
											[ngClass]="op['ContadorGrupo'] == 0 ? 'justify-content-center' : 'justify-content-between'">
											<div class="cantidad-proceso letra-reproceso h-75"
												*ngIf="op['ContadorGrupo'] == null || op['ContadorGrupo'] == 1">
												<strong>{{ +op['CantidadReproceso'] }}</strong> Reprocesos
											</div>
											<div class="tiempo"
												*ngIf="op['ContadorGrupo'] == null || op['ContadorGrupo'] == 1">
												<strong>{{ (op['Tiempo'] ? +op['Tiempo'] : 0) + ' '
													}}</strong>&nbsp;Minutos
											</div>
											<div class="tiempo"
												*ngIf="op['ContadorGrupo'] != null && op['ContadorGrupo'] != 1">
												<div><strong>{{ (op['Tiempo'] ? +op['Tiempo'] : 0) + ' '
														}}</strong>&nbsp;Minutos</div>
											</div>
										</div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-card-content>
					</div>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row *ngIf="!searching && !actividadesLista.length">
			<ion-col size="12" class="ion-text-center">
				<ion-label color="dark">No hay actividades agregadas</ion-label>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
	<ion-toolbar>
		<ion-fab vertical="center" horizontal="start">
			<ion-grid class="ion-no-padding">
				<ion-row>
					<ion-col class="ion-no-padding"
						[ngClass]="it['accion'] == 'cambiar-centro' ? (dataCentroProduccion['cantidad'] > 1 ? '' : 'd-none') : ''"
						*ngFor="let it of botones">
						<ion-fab-button [disabled]="eliminarMultiple" *ngIf="it['accion'] != 'eliminar-multiple'"
							(click)="accionBoton(it)" class="ion-no-margin" mode="ios" size="small"
							[color]="it['color']">
							<ion-icon [name]="it['icono']"></ion-icon>
						</ion-fab-button>
						<ion-fab-button [disabled]="!actividadesLista.length"
							*ngIf="it['accion'] == 'eliminar-multiple'" data-bs-toggle="collapse" aria-expanded="false"
							[attr.aria-controls]="'collapseEliminar'" [attr.data-bs-target]="'collapseEliminar'"
							[attr.data-bs-target]="'#collapseEliminar'" (click)="accionEliminarMultiple()"
							class="ion-no-margin" mode="ios" size="small" [color]="it['color']">
							<ion-icon [name]="it['icono']"></ion-icon>
						</ion-fab-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-fab>
	</ion-toolbar>
</ion-footer>