<h3>{{ datos['Nombre']}}</h3>
<p>Cantidad {{ +datos['cantidad'] }}</p>
<p>
	<ion-item>
		<ion-label position="floating">Cantidad consumida</ion-label>
		<ion-input readonly clearInput="true" required="true" [(ngModel)]="+datos['cantireal']" type="number"
			placeholder="Cantidad">
		</ion-input>
	</ion-item>
</p>
<p *ngIf="datos['lotes'] && datos['lotes'].length">
	<ion-item *ngIf="datos['form']" [formGroup]="datos['form']">
		<ion-label position="floating">Número de Lotes</ion-label>
		<ion-select [interfaceOptions]="{'cssClass': 'select-producto-terminado'}" formControlName="controllotes"
			okText="Aceptar" cancelText="Cancelar" (ionChange)="loteSeleccionado()" placeholder="Seleccione lote"
			[multiple]="true">
			<ion-select-option *ngFor="let lote of datos['lotes']" [value]="lote['LoteProductoid']">
				{{ lote['Numerolote'] }} (Can: {{ +lote['InvenReal'] }})
			</ion-select-option>
		</ion-select>
		<ion-text class="animate__animated animate__bounceIn animate__faster"
			*ngIf="datos['form'].get('controllotes').touched" color="danger">
			{{ datos['form'].get('controllotes')['errorMessage'] }}
		</ion-text>
		<ion-text class="animate__animated animate__bounceIn animate__faster"
			*ngIf="datos['form'].get('controldescargue').touched" color="danger">
			{{ datos['form'].get('controldescargue')['errorMessage'] }}
		</ion-text>
	</ion-item>
</p>
<p *ngIf="datos['lotes'] && !datos['lotes'].length">
	<ion-item lines="none" class="ion-text-center">
		<ion-text class="animate__animated animate__bounceIn animate__faster w-100" color="danger">
			No tiene lotes disponibles
		</ion-text>
	</ion-item>
</p>
<p>
	<ion-item *ngFor="let lote of datos['lotes'];" [ngClass]="{'d-none': !lote.checked}">
		<ion-label position="floating">{{ lote['InveProdLoteId'] }}</ion-label>
		<ion-input [id]="'lote'+lote['InveProdLoteId']" (ionChange)="actualizarTotal(lote)" [max]="+lote['InvenReal']"
			min="0" clearInput="true" required="true" [(ngModel)]="+lote['InvenActua']" type="number"
			placeholder="Cantidad">
		</ion-input>
	</ion-item>
</p>