<ion-content [fullscreen]="true">

	<div class="content">
		<form [formGroup]="formLogin.formulario" (ngSubmit)="login()"
			[class]="'animate__animated animate__faster ' + claseUsuario">
			<ion-item class="ion-margin-top" lines="none">
				<ion-icon class="ion-margin-end" slot="start" name="card-outline"></ion-icon>
				<ion-input formControlName="nroDocumento" type="text" placeholder="Número de documento"></ion-input>
			</ion-item>
			<ion-text color="danger"
				class="ion-text-center animate__animated animate__bounceIn animate__faster validadores"
				*ngIf="formLogin.formulario.get('nroDocumento').touched">
				{{formLogin.formulario.get('nroDocumento')['errorMessage'] }}
			</ion-text>
			<ion-item class="ion-margin-top" lines="none">
				<ion-icon class="ion-margin-end" slot="start" name="lock-closed-outline"></ion-icon>
				<ion-input formControlName="password" [type]="verPassword ? 'text' : 'password'"
					placeholder="Contraseña">
				</ion-input>
				<ion-icon (click)="verPassword = !verPassword" slot="end" [name]="verPassword ? 'eye' : 'eye-off'">
				</ion-icon>
			</ion-item>
			<ion-text color="danger"
				class="ion-text-center animate__animated animate__bounceIn animate__faster validadores"
				*ngIf="formLogin.formulario.get('password').touched">
				{{formLogin.formulario.get('password')['errorMessage'] }}
			</ion-text>
			<ion-grid class="ion-no-margin">
				<ion-row>
					<ion-col size="6" size-xs='12' size-lg='6' size-md='6'
						class="ion-align-self-center ion-text-center">
						<ion-button [disabled]="formLogin.formulario.invalid" type="submit" class="ion-no-margin"
							[size]="'full'" shape="round">
							Iniciar sesión
							<ion-icon slot="start" name="log-in-outline"></ion-icon>
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
	</div>
</ion-content>