<ion-content>

  <div class="eficiencia-div-btn">

    <div *ngFor="let card of cards" class="eficiencia-card" [ngClass]="tiempoSeleccionado?.id === card.id ? 'card-seleccionada' : ''" [ngStyle]="{'background-color': card.color}" (click)="seleccionarRangoTiempo(card)">
      <ion-label>
        <div class="eficiencia-card-text">
          <p [ngStyle]="{'color': card.color == '' ? '#00000' : '#ffffff'}">{{ card.porcentaje }} %</p>
          <p [ngStyle]="{'color': card.color == '' ? '#00000' : '#ffffff'}">{{ card.tiempo }}</p>
        </div>
      </ion-label>
    </div>

    <div class="eficiencia-card card-fecha" (click)="abrirCalendario()">
      <div class="eficiencia-card-text">
        <ion-label class="fecha-label">Fecha</ion-label>
        <div class="fecha-display">
          {{ fechaSeleccionada | date:'dd/MM/yyyy' }}
        </div>
      </div>
    </div>

    <!-- ion-datetime asociado -->
    <ion-modal #fechaModal [isOpen]="modalAbierto" (didDismiss)="cerrarModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Seleccionar Fecha</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cerrarModal()">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="datetime-container">
            <ion-datetime 
              id="datetime-fecha"
              presentation="date" 
              [(ngModel)]="fechaSeleccionada" 
              [max]="fechaActual"
              (ionChange)="onFechaChange($event)"
              locale="es-ES"
              [showDefaultButtons]="true"
              done-text="Confirmar"
              cancel-text="Cancelar">
            </ion-datetime>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

  </div>

  <ion-grid class="eficiencia-grid">
    <ion-row class="eficiencia-row">
      <ion-col class="eficiencia-col">{{ modo === 'dia' ? 'Horas' : modo === 'semana' ? 'Semana' : 'Dia' }}</ion-col>
      <ion-col class="eficiencia-col">Minutos</ion-col>
      <ion-col class="eficiencia-col">Estimado</ion-col>
      <ion-col class="eficiencia-col">Eficiencia</ion-col>
    </ion-row>

    <ion-row *ngFor="let dato of datos" style="place-items: center;" >
      <ion-col class="eficiencia-col" *ngIf="modo === 'semana'" (click)="verPopover(dato)"><ion-button>{{ dato.semana }}</ion-button></ion-col>
      <ion-col class="eficiencia-col" *ngIf="modo !== 'semana'">{{ dato.Tiempo }}</ion-col>
      <ion-col class="eficiencia-col">{{ dato.Minutos }}</ion-col>
      <ion-col class="eficiencia-col">{{ dato.Estimado }}</ion-col>
      <ion-col class="eficiencia-col" [ngStyle]="{ 'background-color': dato.Color }">{{ dato.Eficiencia }} %</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>