<ion-header class="ion-no-border">
	<ion-toolbar color="ligth">
		<ion-title color="dark" class="ion-text-center">Configuración inicial</ion-title>
		<ion-buttons slot="end" (click)="cerrarModal()">
			<ion-icon color="dark" slot='icon-only' size='large' name='close-outline'>
			</ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-progress-bar *ngIf="cargando" type="indeterminate"></ion-progress-bar>

<ion-content color="gray">
  <div class="content" style="margin: -56px 0;">
    <form [formGroup]="formConfig">
      <ion-item class="ion-margin-top" lines="none">
        <ion-icon class="ion-margin-end" slot="start" name="reader-outline"></ion-icon>
      <ion-input type="number" placeholder="Nit" formControlName="nit"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none" *ngIf="esTesting">
        <ion-icon class="ion-margin-end" slot="start" name="swap-horizontal-outline"></ion-icon>
        <ion-input placeholder="Url Testing" formControlName="url"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none" color="medium">
        <ion-label>Red de contingencia</ion-label>
        <ion-toggle [checked]="urlToggle" (ionChange)="actualizarUrl($event)"></ion-toggle>
      </ion-item>
      <ion-grid class="ion-no-margin">
        <ion-row>
          <ion-col size="6" size-xs='12' size-lg='6' size-md='6'
          class="ion-align-self-center ion-text-center">
          <ion-button class="ion-no-margin" (click)="guardar()" expand="full" shape="round">
            Guardar
            <ion-icon slot="start" name="save-outline"></ion-icon>
          </ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    
  </div>

</ion-content>