ion-content {
    ion-list {
        div {
            ion-item {
                ion-icon {
                    margin-inline-end: 15px;
                }
                ion-avatar {
                    margin-right: 10px;
                }
            }
            .collapse {
                ion-list {
                    padding-left: 10px;
                }
            }
        }
        ion-item {
            ion-text {
                width: 100%;
            }
        }
    }
}
