<ion-header class="ion-no-border">
	<ion-toolbar color="ligth">
		<ion-title color="dark" class="ion-text-center">Filtros</ion-title>
		<ion-buttons slot="end" (click)="cerrarModal()">
			<ion-icon color="dark" slot='icon-only' size='large' name='close-outline'>
			</ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content color="gray">
	<form [formGroup]="formFiltro" (ngSubmit)="filtrar()">
		<ion-list lines="full">
			<ion-item>
				<ion-label color="dark">
					Desde:
				</ion-label>
				<ion-datetime #fechaDesde formControlName="desde" placeholder="Seleccione una fecha"
					cancelText="Cancelar" doneText="Aceptar"
					displayFormat="DD-MM-YYYY" [max]="maximoFechaDesde"
					(ionChange)="cambioFechaDesde(fechaDesde.value)"
					class="color-picker"></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-label color="dark">
					Hasta:
				</ion-label>
				<ion-datetime #fechaHasta formControlName="hasta" placeholder="Seleccione una fecha"
					cancelText="Cancelar" doneText="Aceptar"
					displayFormat="DD-MM-YYYY" [min]="minFechaHasta" [max]="maximoFechaHasta"
					(ionChange)="cambioFechaHasta(fechaHasta.value)"
					class="color-picker"></ion-datetime>
			</ion-item>
		</ion-list>
		<ion-button class="ion-margin-top" mode="md" expand="full" type="submit" shape="round">
			<ion-icon slot="start" name="funnel"></ion-icon>
			Filtrar
		</ion-button>
		<ion-button (click)="limpiarFormulario()" class="ion-margin-top" color="danger" mode="md" expand="full"
			shape="round">
			<ion-icon slot="start" name="reload"></ion-icon>
			Limpiar
		</ion-button>
	</form>
</ion-content>
