<ion-header class="ion-no-border">
	<ion-toolbar color="ligth">
		<ion-title color="dark" class="ion-text-center">Lista de Chequeo</ion-title>
		<ion-buttons slot="end" (click)="cerrarModal()">
			<ion-icon color="dark" slot='icon-only' size='large' name='close-outline'>
			</ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content color="gray">

	<p>
		Nombre:
		<strong>
			<ion-text color="dark">{{ datos['GrupoId'] ? datosLista['nombre'] : datos['Nombre'] }}</ion-text>
		</strong><br>
		Orden:
		<strong>
			<ion-text color="dark">{{ datos['Orden'] }}</ion-text>
		</strong><br>
		Cantidad:
		<strong>
			<ion-text color="dark">{{ datos['GrupoId'] ? datosLista['cantidad'] : +datos['CantidadTotal'] }}</ion-text>
		</strong><br>
	</p>

	<div id="listaHTML"></div>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" id="btnSubmit" [hidden]="formulario">
		<ion-fab-button (click)="submit()">
			<ion-icon name="save"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-fab vertical="bottom" horizontal="start" slot="fixed">
		<ion-fab-button color="danger" (click)="cerrarModal({ listachequeo: true })">
			<ion-icon name="close"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>