<ion-header class="ion-no-border">
	<ion-toolbar color="ligth">
		<ion-title color="dark" class="ion-text-center">Lista de Chequeo</ion-title>
		<ion-buttons slot="end" (click)="cerrarModal()">
			<ion-icon color="dark" slot='icon-only' size='large' name='close-outline'>
			</ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-progress-bar *ngIf="searching" type="indeterminate"></ion-progress-bar>

<ion-content color="gray">

	<div class="row m-3">
		<div class="col-12 border border-bottom-0 text-truncate p-2">
			{{ datos['NombreProducto'] }}
		</div>
		<div class="col-12 border border-bottom-0 text-truncate p-2">
			{{ datos['Nombre'] }}
		</div>
		<div class="col-6 border border-bottom-0 border-right-0 border-bottom p-2">
			<strong>Orden: </strong>
			{{ +datos['NumerOrden'] }}
		</div>
		<div class="col-6 border p-2">
			<strong>Cantidad: </strong>
			<span *ngIf="datos['GrupoId'] === null">{{ cantidadParcial }}</span>
			<span *ngIf="datos['GrupoId'] !== null">{{ datos['CantidadTotal'] }}</span>
		</div>
		<div class="col-6 border border-right border-left border-bottom p-2">
			<strong>Referencia: </strong>
			{{ datos['Referencia'] }}
		</div>
	</div>

	<div class="m-3" id="listaHTML"></div>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" id="btnSubmit" [hidden]="formulario">
		<ion-fab-button (click)="submit(0)">
			<ion-icon name="save"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-fab vertical="bottom" horizontal="start" slot="fixed">
		<ion-fab-button color="danger" (click)="cerrarModal({ listachequeo: true })">
			<ion-icon name="close"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>