<ion-header class="ion-no-border">
    <ion-toolbar color="ligth">
        <ion-title color="dark" class="ion-text-center">Improductivos</ion-title>
        <ion-buttons slot="end" (click)="cerrarModal()">
            <ion-icon color="dark" slot='icon-only' size='large' name='close-outline'>
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-progress-bar *ngIf="buscando" type="indeterminate"></ion-progress-bar>

<ion-content class="ion-padding" color="gray">

    <ion-refresher *ngIf="!cuentaRegresiva" slot="fixed" (ionRefresh)="obtenerActividades($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="container" *ngIf="!cuentaRegresiva">
        <div class="row" *ngIf="!buscando && paradas.length">
            <div (click)="contarCuentaRegresiva(it)" *ngFor="let it of paradas" class="circulo-parada mb-1 col-12 row"
                [ngStyle]="{'background-color': 'var(--ion-color-primary)'}">
                <ion-text class="ion-text-center col-2">
                    {{ it['Nombre'][0] }}
                    <br class="ion-no-margin">
                </ion-text>
                <ion-text class="align-self-center col-10">{{ it['Nombre'] }}</ion-text>
            </div>
        </div>
        <div *ngIf="!buscando && !paradas.length">
            <div class="ion-text-center ion-margin">
                No hay paradas disponibles
            </div>
        </div>
    </div>

    <div class="container estilos-tiempo" *ngIf="cuentaRegresiva">
        <ion-text color="dark">
            <h1>{{ tiempoCuentaRegresiva['Nombre'] }}</h1>
        </ion-text>
        <div>
            <div class="ion-text-center ion-margin">
                <countup-timer *ngIf="tiempoCuentaRegresiva['up']" [countUpTimerConfig]="testConfig"></countup-timer>
                <countdown-timer *ngIf="tiempoCuentaRegresiva['down']" [countDownTimerConfig]="testConfig">
                </countdown-timer>
            </div>
        </div>
    </div>

</ion-content>

<ion-footer *ngIf="cuentaRegresiva">
    <ion-toolbar color="light">
        <ion-button expand="full" size="large" shape="round" class="ion-margin-horizontal" (click)="agregarLog();">
            <ion-icon slot="start" name="alarm-outline"></ion-icon>
            Finalizar
        </ion-button>
    </ion-toolbar>
</ion-footer>