ion-content {
	ion-list {
		div {
			ion-item {
				ion-label {
					margin-bottom: 0px !important;
					border-radius: 10px;
					background-color: #e4e4e4;
					color: #000;
					.icono-posicion {
						position: absolute;
						top: 20px;
						right: 30px;
					}
				}
				h2 {
					font-weight: 600;
				}
			}
		}
	}
}
