<ion-progress-bar *ngIf="searching" type="indeterminate"></ion-progress-bar>

<ion-content color="gray">

	<ion-refresher slot="fixed" (ionRefresh)="obtenerHistorial($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-list>
		<ion-item lines="none" *ngFor="let item of dataHistorial;">
			<ion-label [ngClass]="item['Tipo']" class="p-2">
				<h2>{{ item['Nombre'] }}</h2>
				<p>
					<ion-grid>
						<ion-row>
							<ion-col
								[size]="item['Tipo'] == 'INGRESO' || item['Tipo'] == 'SALIDA' ? '6' : (item['Tipo'] == 'STOP' ? '4' : '3')">
								<ion-label class="ion-text-center bg-transparent" color="dark">
									<p>{{ item['FechaReg'] }}</p>
									<strong>Fecha</strong>
								</ion-label>
							</ion-col>
							<ion-col size="3"
								*ngIf="item['Tipo'] != 'INGRESO' && item['Tipo'] != 'SALIDA' && item['Tipo'] != 'STOP'">
								<ion-label class="ion-text-center bg-transparent" color="dark">
									<p>{{ +item['Cantidad'] }}</p>
									<strong>Cantidad</strong>
								</ion-label>
							</ion-col>
							<ion-col [size]="item['Tipo'] == 'STOP' ? '4' : '3'"
								*ngIf="item['Tipo'] != 'INGRESO' && item['Tipo'] != 'SALIDA'">
								<ion-label class="ion-text-center bg-transparent" color="dark">
									<p>{{ item['STOP'] ? +item['Tiempo1'] : +item['Tiempo2'] }}</p>
									<strong>Tiempo</strong>
								</ion-label>
							</ion-col>
							<ion-col
								[size]="item['Tipo'] == 'INGRESO' || item['Tipo'] == 'SALIDA' ? '6' : (item['Tipo'] == 'STOP' ? '4' : '3')">
								<ion-label class="ion-text-center bg-transparent" color="dark">
									<p>{{ item['Hora'] }}</p>
									<strong>Hora</strong>
								</ion-label>
							</ion-col>
						</ion-row>
					</ion-grid>
				</p>
			</ion-label>
		</ion-item>
		<ion-item lines="none" *ngIf="!dataHistorial.length && !searching">
			<ion-text class="w-100  ion-text-center">No hay historial disponible</ion-text>
		</ion-item>
	</ion-list>

</ion-content>