ion-content {
    ion-list {
        ion-item {
            ion-label {
                margin-bottom: 0px !important;
                border-radius: 10px;
                background-color: #e4e4e4;
                color: #000;
            }
            .STOP {
                background-color: #00c0d4;
            }
            h2 {
                font-weight: 600;
            }
        }
    }
}
