<ion-header class="ion-no-border">
	<ion-toolbar color="ligth">
		<ion-title color="dark" class="ion-text-center">Producto terminado</ion-title>
		<ion-buttons slot="end" (click)="cerrarModal()">
			<ion-icon color="dark" slot='icon-only' size='large' name='close-outline'>
			</ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-progress-bar *ngIf="searching" type="indeterminate"></ion-progress-bar>

<ion-content color="gray">

	<ion-list class="ion-no-padding" *ngIf="!datos['GrupoId']">
		<ion-item lines="none" *ngFor="let item of productos; let pos = index;">
			<ion-label>
				<h3>{{ item['Nombre']}}</h3>
				<p>Cantidad {{ +item['cantidad'] }}</p>
				<p>
					<ion-item>
						<ion-label position="fixed">Cantidad consumida</ion-label>
						<ion-input required="true" [(ngModel)]="+item['cantireal']" type="number"
							placeholder="Cantidad"></ion-input>
					</ion-item>
				</p>
			</ion-label>
		</ion-item>
		<ion-item lines="none" *ngIf="!productos.length && !searching">
			<ion-text class="w-100  ion-text-center">No se encontraron registros</ion-text>
		</ion-item>
	</ion-list>

	<ion-list *ngIf="datos['GrupoId']">
		<ion-item-group *ngFor="let llave of productos"
			[ngStyle]="{'display': llave['mostrarProd'] ? 'block' : 'none'}">
			<ion-item-divider sticky="true" color="gray">
				<ion-label color="dark">
					{{ llave['referencia'] && llave['referencia'] != '' ? llave['referencia'] + ' - ' : '' }}
					{{llave['nombre'] }}
				</ion-label>
			</ion-item-divider>
			<ion-item lines="none" [ngStyle]="{'display': llave['mostrarProd']  ? 'block' : 'none'}"
				*ngFor="let item of llave['consumo']; let pos = index;">
				<ion-label>
					<h3>{{ item['Nombre'] }}</h3>
					<p>Cantidad {{ +item['cantidad'] }}</p>
					<p>
						<ion-item>
							<ion-label position="fixed">Cantidad consumida</ion-label>
							<ion-input required="true" [(ngModel)]="+item['cantireal']" type="number"
								placeholder="Cantidad"></ion-input>
						</ion-item>
					</p>
				</ion-label>
			</ion-item>
		</ion-item-group>
		<ion-item lines="none" *ngIf="mostrarMensajeAgrupada && !searching">
			<ion-text class="w-100  ion-text-center">No se encontraron registros</ion-text>
		</ion-item>
	</ion-list>

</ion-content>

<ion-footer>
	<ion-toolbar color="light">
		<ion-button (click)="confirmar('¿Desea terminar esta actividad?')" class="ion-margin-horizontal" size="full"
			shape="round">
			<ion-icon slot="start" name="arrow-forward"></ion-icon>
			Confirmar
		</ion-button>
	</ion-toolbar>
</ion-footer>