ion-content {
	ion-list {
		ion-item {
			ion-label {
				min-width: 100%;
				pointer-events: unset !important;
				p {
					ion-item {
						ion-label {
							width: unset;
							min-width: unset;
							overflow: unset;
						}
					}
				}
			}
		}
	}
}
