<ion-header class="ion-no-border">
	<ion-toolbar color="ligth">
		<ion-title color="dark" class="ion-text-center">Grupo Nro {{idGrupo}}</ion-title>
		<ion-buttons slot="end" (click)="cerrarModal()">
			<ion-icon color="dark" slot='icon-only' size='large' name='close-outline'>
			</ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-progress-bar *ngIf="searching" type="indeterminate"></ion-progress-bar>

<ion-content color="gray">

	<ion-refresher slot="fixed" (ionRefresh)="obtenerInformacion($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-list class="ion-no-padding" *ngIf="detalleActividad.length">
		<ion-item-sliding class="ion-margin" (click)="slidingDelInvitado('sliding' + pos)" [id]="'sliding' + pos"
			*ngFor="let item of detalleActividad; let pos = index;" [ngClass]="{'reproceso': item['ListaChequeoId']}">
			<ion-item lines="none"
				[ngStyle]=" item['AplicoListaChequeo'] ? {'border-left': '4px solid var(--ion-color-success)'} : {}">
				<!-- [ngStyle]=" item['EstadoOperacion'] == 'FI' ? {'border-left': '4px solid var(--ion-color-success)'} : {}" -->
				<ion-label>
					<h3>{{item['NombreProd']}}</h3>
					<p>{{ item['Nombre'] }}</p>
					<p>Orden: {{item['NumerOrden']}}</p>
					<p>Ref: {{item['Referencia']}}</p>
				</ion-label>
				<ion-badge [color]="item['color']">{{ +item['CantiRecib']}} / {{ +item['CantidadTotal'] }}</ion-badge>
			</ion-item>
			<!--<ion-item-options side="end">
				 <ion-item-option color="danger" (click)="eliminarActividad(item)">
					<ion-icon slot="icon-only" name="trash"></ion-icon>
				</ion-item-option> 
				<ion-item-option color="success"
					*ngIf="+item['CantiRecib'] >= +item['CantidadTotal'] && item['EstadoOperacion'] != 'FI'"
					(click)="finalizarActividad(item)">
					<ion-icon slot="icon-only" name="checkmark"></ion-icon>
				</ion-item-option>
			</ion-item-options>-->
		</ion-item-sliding>
	</ion-list>

</ion-content>

<!-- <ion-footer>
	<ion-toolbar color="light">
		<ion-button class="ion-margin-horizontal" (click)="agregarMas()" [size]="'full'" shape="round">
			<ion-icon slot="start" name="add"></ion-icon>
			Agregar Mas
		</ion-button>
	</ion-toolbar>
</ion-footer> -->