ion-header {
	ion-toolbar {
		--background: var(--ion-color-light);
		ion-segment {
			border-bottom: none;
			--background: var(--ion-color-light);
			ion-segment-button {
				ion-label {
					font-size: 11px;
				}
			}
		}
	}
}
