/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~animate.css/animate.min.css";

.ionic-selectable-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    --border-color: transparent;
}

.fontSize {
    font-size: var(--default-font) !important;
}

p {
    color: var(--ion-color-dark);
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.w-100 {
    width: 100% !important;
}

ion-range {
    --bar-background: var(--ion-color-dark);
    --bar-background-active: var(--ion-color-dark);
}

ion-checkbox {
    --border-color: var(--ion-color-dark);
}

ion-button {
    --border-radius: 10px !important;
}

.modal-color {
    .alert-title,
    .alert-radio-label,
    .alert-button {
        color: var(--ion-color-dark) !important;
    }
    .alert-head {
        text-align: center;
    }
    .alert-wrapper {
        background-color: var(--ion-background-color) !important;
    }
}

modal-color {
    .alert-wrapper {
        .alert-message {
            color: var(--ion-color-dark) !important;
        }
    }
}

.color-picker {
    .picker-button,
    .picker-opt {
        color: var(--ion-color-dark);
    }
}

.header-modal {
    color: var(--ion-color-dark);
    background: var(--toolbar-menu);
}

ion-segment-button {
    color: var(--ion-color-dark);
}

ion-searchbar {
    color: var(--ion-color-dark) !important;
}

ion-loading {
    .loading-wrapper {
        background-color: var(--ion-color-light) !important;
        .loading-content {
            color: var(--ion-color-dark) !important;
        }
    }
}

ion-action-sheet {
    .action-sheet-wrapper {
        .action-sheet-container {
            .action-sheet-group {
                button {
                    color: var(--ion-color-dark);
                    .action-sheet-button-inner {
                        ion-icon {
                            color: var(--ion-color-dark);
                        }
                    }
                }
            }
        }
    }
}
